Repository gr-blog/grb: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_api_image, push_frontend_image, push_bot_image, push_api_manifest, push_frontend_manifest, push_bot_manifest

push_api_image:
  variables:
    SERVICE: api
  image: registry.host/ci/buildkit:latest
  stage: push_image
  script:
  - sh build-target.sh

push_frontend_image:
  variables:
    SERVICE: frontend
  image: registry.host/ci/buildkit:latest
  stage: push_image
  script:
  - sh build-target.sh

push_bot_image:
  variables:
    SERVICE: bot
  image: registry.host/ci/buildkit:latest
  stage: push_image
  script:
  - sh build-target.sh

push_api_manifest:
  variables:
    SERVICE: api
  image: registry.host/ci/oras:latest
  stage: push_manifest
  script:
  - sh manifest.sh
  needs:
  - push_api_image

push_frontend_manifest:
  variables:
    SERVICE: frontend
  image: registry.host/ci/oras:latest
  stage: push_manifest
  script:
  - sh manifest.sh
  needs:
  - push_frontend_image

push_bot_manifest:
  variables:
    SERVICE: bot
  image: registry.host/ci/oras:latest
  stage: push_manifest
  script:
  - sh manifest.sh
  needs:
  - push_bot_image

fix(ci): ?
  scripts/_login.image.sh
Due: none

fix(grb): fix image names to grb-SERVICE
  packages/k8s/src/shared/images.ts
Due: push_api_image, push_frontend_image, push_bot_image, push_api_manifest, push_frontend_manifest, push_bot_manifest

fix(api): direct github reads to gr-blog
  packages/api/src/app/svc/github-info.ts
Due: push_api_image, push_api_manifest

fix(ci): frontend to frontend, api to api
  .github/workflows/monorepo.yaml
Due: none

fix(frontend): fix images
  packages/frontend/next.config.mjs
Due: push_frontend_image, push_frontend_manifest

feat(api): DATA_SOURCE to support arbitrary paths
  packages/api/src/app/dec/disk.ts
Due: push_api_image, push_api_manifest

chore: clean sample data
  sample-data/gregros.dev/blog.yaml
  sample-data/gregros.dev/images/but-what-is-a-dom-node.chromium-architecture.cnv.webp
  sample-data/gregros.dev/images/debug-webpages-with-code-using-internal-inspector-api.internal-api-tls-1.2.cnv.webp
  sample-data/gregros.dev/images/debug-webpages-with-code-using-internal-inspector-api.meta-inspection.cnv.webp
  sample-data/gregros.dev/images/debug-webpages-with-code-using-internal-inspector-api.network-log-pattern.cnv.webp
  sample-data/gregros.dev/images/every-type-of-script-tag.script-tag-types.cnv.webp
  sample-data/gregros.dev/images/every-way-to-make-a-synthetic-iframe.synthetic-iframe-decision-tree.cnv.webp
  sample-data/gregros.dev/images/making-of-a-synthetic-iframe.synthetic-iframe-decision-tree.cnv.webp
  sample-data/gregros.dev/images/scalability-is-not-performance.example-job-rates.cnv.webp
  sample-data/gregros.dev/images/scalability-is-not-performance.many-boxes.cnv.webp
  sample-data/gregros.dev/images/scalability-is-not-performance.meta-inspection.cnv.webp
  sample-data/gregros.dev/images/scalability-is-not-performance.one-box-model.cnv.webp
  sample-data/gregros.dev/posts/but-what-is-a-dom-node.post.md
  sample-data/gregros.dev/posts/but-what-is-an-iframe.post.md
  sample-data/gregros.dev/posts/debug-webpages-with-code-using-internal-inspector-api.post.md
  sample-data/gregros.dev/posts/every-type-of-script-tag.post.md
  sample-data/gregros.dev/posts/every-way-to-make-a-synthetic-iframe.post.md
  sample-data/gregros.dev/posts/iframes-and-when-javascript-worlds-collide.post.md
  sample-data/gregros.dev/posts/scalability-is-not-performance.post.md
  sample-data/gregros.dev/series/architecture.yaml
  sample-data/gregros.dev/series/react-anything.yaml
  sample-data/gregros.dev/series/web.yaml
Due: none

refactor: rename textmate theme
  packages/api/src/markdown/syntax-highlighting/rainbow-black-color-theme.json
  packages/api/src/markdown/syntax-highlighting/rainbow-black.shiki.json
  packages/api/src/markdown/syntax-highlighting/rainbow-black.textmate.json
  packages/api/src/markdown/syntax-highlighting/theme.ts
Due: push_api_image, push_api_manifest

fix(frontend): fix false 404 on specific titles
  packages/frontend/src/app/(site)/[name]/[slug]/not-found.tsx
  packages/frontend/src/app/(site)/[name]/[slug]/page.tsx
  packages/frontend/src/app/(site)/[name]/page.tsx
Due: push_frontend_image, push_frontend_manifest

feat(frontend): tweak underline position
  packages/frontend/src/_typography/_code.scss
Due: push_frontend_image, push_frontend_manifest

chore: normalize tsbuildinfo locations
  packages/api/src/tsconfig.json
  packages/bot/tsconfig.json
  packages/frontend/tsconfig.json
  packages/k8s/tsconfig.json
Due: push_api_image, push_frontend_image, push_bot_image, push_api_manifest, push_frontend_manifest, push_bot_manifest

fix(k8s): up k8ts versions
  .yarn/install-state.gz
  packages/k8s/package.json
  yarn.lock
Due: none

fix(vscode): build command cwd to root
  .vscode/tasks.json
Due: none

feat(*): new content structure
  .yarn/install-state.gz
  packages/api/src/app/svc/data.ts
  packages/api/src/app/svc/disk.s.ts
  packages/api/src/app/svc/github-info.ts
  packages/api/src/app/svc/github-poller.s.ts
  packages/api/src/app/svc/github.s.ts
  packages/api/src/app/svc/post-file.s.ts
  packages/api/src/app/svc/post.s.ts
  packages/api/src/app/svc/series-file.s.ts
  packages/api/src/entities/post.ts
  packages/api/src/markdown/parsing/preprocess-interlinks.ts
  packages/api/src/markdown/parsing/process-markdown.ts
  packages/frontend/src/api/index.ts
  packages/frontend/src/entities/post.ts
Due: push_api_image, push_frontend_image, push_api_manifest, push_frontend_manifest

feat(api): added prewarming
  packages/api/src/main.ts
  packages/api/src/prewarm.ts
Due: push_api_image, push_api_manifest

chore: better vscode launch
  .vscode/launch.json
Due: none

docs: architecture diagram
  README.md
Due: none

docs: a bit more info about how it works
  README.md
Due: none

docs: fix mermaid
  README.md
Due: none

feat(api): fingerprint caching
  .yarn/install-state.gz
  package.json
  packages/api/package.json
  packages/api/src/app/svc/disk.s.ts
  packages/api/src/app/svc/post-file.s.ts
  packages/api/src/app/svc/post.s.ts
  packages/api/src/app/svc/series.s.ts
  packages/api/src/entities/post.ts
  packages/api/src/entities/series.ts
  packages/api/src/markdown/parsing/process-markdown.ts
  packages/api/src/markdown/parsing/remove-eslint-comments.ts
  packages/api/src/markdown/syntax-highlighting/transformers/js-token-classifier.ts
  packages/bot/package.json
  packages/frontend/package.json
  packages/frontend/src/_typography/_code.scss
  packages/frontend/src/app/(site)/[name]/[slug]/page.tsx
  packages/frontend/src/entities/post.ts
  packages/frontend/src/parts/prose/prose.tsx
  packages/frontend/src/post-cache.ts
  packages/k8s/package.json
  yarn.lock
Due: push_api_image, push_frontend_image, push_bot_image, push_api_manifest, push_frontend_manifest, push_bot_manifest

fix(api): add got
  .yarn/install-state.gz
  packages/api/package.json
  yarn.lock
Due: push_api_image, push_api_manifest

fix(frontend): limit to 6 posts in grid
  packages/frontend/src/app/(site)/[name]/[slug]/page.tsx
  packages/frontend/src/parts/preview-list/preview-list.tsx
Due: push_frontend_image, push_frontend_manifest

fix(api): prewarm cycle every 1 hour
  packages/api/src/main.ts
  packages/api/src/prewarm.ts
Due: push_api_image, push_api_manifest

feat(api): filter posts based on publish date
  packages/api/src/app/ctrl/image.c.ts
  packages/api/src/app/ctrl/series.c.ts
  packages/api/src/app/svc/github-poller.s.ts
  packages/api/src/app/svc/post-file.s.ts
  packages/api/src/app/svc/post.s.ts
Due: push_api_image, push_api_manifest

feat(api): new description handler
  packages/api/src/app/svc/mdx.s.ts
  packages/api/src/app/svc/post-file.s.ts
  packages/api/src/logging/index.ts
  packages/api/src/markdown/parsing/cut-at-first-rule.ts
  packages/api/src/markdown/parsing/cut-description.ts
  packages/api/src/markdown/parsing/process-markdown.ts
  packages/api/src/markdown/parsing/remove-eslint-comments.ts
  packages/k8s/src/api/api.ts
Due: push_api_image, push_api_manifest

fix(frontend): math spacing
  packages/frontend/src/_typography/_math.scss
  packages/frontend/src/parts/prose/prose.scss
Due: push_frontend_image, push_frontend_manifest

feat: fixes to newsletter, created announce cycle, tweaked spacing, etc
  packages/api/src/app/dto/post.ts
  packages/api/src/app/svc/github-poller.s.ts
  packages/api/src/app/svc/post.s.ts
  packages/api/src/entities/vals.ts
  packages/bot/src/app/blog.mod/announcer.svc.ts
  packages/bot/src/app/ctrl/index.ts
  packages/bot/src/app/grb-api/index.ts
  packages/bot/src/main.ts
  packages/frontend/src/app/(newsletter)/framing.tsx
  packages/frontend/src/app/(newsletter)/newsletter/digest/page.tsx
  packages/frontend/src/entities/dto/post.ts
  packages/frontend/src/entities/stats.ts
  packages/frontend/src/entities/vals.ts
  packages/frontend/src/newsletter-parts/digest.tsx
  packages/frontend/src/newsletter-parts/thank-you.tsx
  packages/frontend/src/parts/newsletter-form/newsletter.scss
  packages/frontend/src/parts/post-page/post-page-nav-menu.tsx
  packages/frontend/src/parts/post-page/post-page.scss
  packages/frontend/src/parts/post-stats/stats-long.tsx
  packages/frontend/src/parts/post-stats/stats-short.tsx
  packages/frontend/src/raffle.ts
  packages/frontend/src/utils.ts
Due: push_api_image, push_frontend_image, push_bot_image, push_api_manifest, push_frontend_manifest, push_bot_manifest

fix(frontend): footer style tweaks
  packages/frontend/src/parts/footer/footer.scss
Due: push_frontend_image, push_frontend_manifest

fix(bot): schemas and formatting
  packages/bot/src/app/client.mod/sender.svc.ts
  packages/bot/src/app/grb-api/index.ts
  packages/bot/src/entities/post.ts
  packages/bot/src/logging/index.ts
  packages/bot/src/logging/printer.ts
Due: push_bot_image, push_bot_manifest

fix(frontend): only cache prose, not entire page. also tweak newsletter cookie path
  packages/frontend/src/app/(site)/[name]/[slug]/page.tsx
  packages/frontend/src/parts/newsletter-form/helpers.ts
Due: push_frontend_image, push_frontend_manifest

feat(frontend+api): centered share images, with figure when exists
  .yarn/install-state.gz
  packages/api/package.json
  packages/api/src/app/dec/prefixed-cache.ts
  packages/api/src/app/svc/github-poller.s.ts
  packages/api/src/app/svc/image.s.ts
  packages/api/src/app/svc/post-file.s.ts
  packages/api/src/entities/post.ts
  packages/api/src/logging/access-logs.ts
  packages/api/src/markdown/render-mdx/remark-plugins/canva-images.ts
  packages/api/src/urls/image.ts
  packages/frontend/assets/polyflower-3-3_square-bg.png
  packages/frontend/src/api/index.ts
  packages/frontend/src/app/(site)/[name]/[slug]/page.tsx
  packages/frontend/src/app/(site)/[name]/not-found.tsx
  packages/frontend/src/app/(site)/api/og/[name]/[slug]/route.tsx
  packages/frontend/src/app/(site)/layout.tsx
  packages/frontend/src/app/(site)/metadata-common.ts
  packages/frontend/src/app/apple-icon.png
  packages/frontend/src/app/favicon.ico
  packages/frontend/src/app/icon1.png
  packages/frontend/src/app/icon2.png
  packages/frontend/src/app/icon3.png
  packages/frontend/src/app/icon4.png
  packages/frontend/src/entities/post.ts
  packages/frontend/src/middleware.ts
  packages/frontend/src/og-image/home-image.tsx
  packages/frontend/src/og-image/parts/alignment-canvas.tsx
  packages/frontend/src/og-image/parts/background-logo.tsx
  packages/frontend/src/og-image/parts/large-text.tsx
  packages/frontend/src/og-image/parts/readable-title-style.tsx
  packages/frontend/src/og-image/parts/signature.tsx
  packages/frontend/src/og-image/post-image.tsx
  packages/frontend/src/og-image/roots/figured-image.tsx
  packages/frontend/src/og-image/roots/image-layout.tsx
  packages/frontend/src/og-image/roots/unfigured-image.tsx
  packages/frontend/src/og-image/series-image.tsx
  yarn.lock
Due: push_api_image, push_frontend_image, push_api_manifest, push_frontend_manifest

fix(api): log level to debug
  packages/k8s/src/api/api.ts
Due: push_api_image, push_api_manifest

fix(api): announce should be POST
  packages/api/src/app/svc/github-poller.s.ts
Due: push_api_image, push_api_manifest

fix(api): add an extra prefix for each PrefixedCache user
  packages/api/src/app/dec/prefixed-cache.ts
  packages/api/src/app/svc/disk.s.ts
  packages/api/src/app/svc/github-poller.s.ts
  packages/api/src/app/svc/github.s.ts
  packages/api/src/app/svc/mdx.s.ts
  packages/api/src/app/svc/post-file.s.ts
  packages/api/src/app/svc/series.s.ts
Due: push_api_image, push_api_manifest

fix(cache): keep blog normal
  packages/api/src/app/dec/prefixed-cache.ts
Due: push_api_image, push_api_manifest

fix(frontend): share images for series and home
  packages/frontend/src/og-image/home-image.tsx
  packages/frontend/src/og-image/roots/figured-image.tsx
  packages/frontend/src/og-image/series-image.tsx
Due: push_frontend_image, push_frontend_manifest

fix(frontend): botos, sitemap
  packages/frontend/src/app/robots.ts
  packages/frontend/src/app/sitemap.ts
Due: push_frontend_image, push_frontend_manifest

fix(frontend): no need for main figure to be transluscent
  packages/frontend/src/og-image/roots/figured-image.tsx
Due: push_frontend_image, push_frontend_manifest

fix: reduce polling due to api issues
  packages/api/src/app/svc/github-poller.s.ts
Due: push_api_image, push_api_manifest

fix(github): stop creating new pollers all the time
  packages/api/src/app/svc/github-poller.s.ts
  packages/api/src/app/svc/github.s.ts
Due: push_api_image, push_api_manifest

Path conditions:
  push_api_image: (any of: packages/k8s/src/shared/**/*, packages/k8s/src/main.ts, packages/tsconfig.base.json, packages/k8s/*.sh, .gitlab-ci.yml, build-target.sh, manifest.sh, Dockerfile) or (any of: packages/k8s/src/api/**/*, packages/api/**/*)
  push_frontend_image: (any of: packages/k8s/src/shared/**/*, packages/k8s/src/main.ts, packages/tsconfig.base.json, packages/k8s/*.sh, .gitlab-ci.yml, build-target.sh, manifest.sh, Dockerfile) or (any of: packages/k8s/src/frontend/**/*, packages/frontend/**/*)
  push_bot_image: (any of: packages/k8s/src/shared/**/*, packages/k8s/src/main.ts, packages/tsconfig.base.json, packages/k8s/*.sh, .gitlab-ci.yml, build-target.sh, manifest.sh, Dockerfile) or (any of: packages/k8s/src/bot/**/*, packages/bot/**/*)
  push_api_manifest: (any of: packages/k8s/src/shared/**/*, packages/k8s/src/main.ts, packages/tsconfig.base.json, packages/k8s/*.sh, .gitlab-ci.yml, build-target.sh, manifest.sh, Dockerfile) or (any of: packages/k8s/src/api/**/*, packages/api/**/*)
  push_frontend_manifest: (any of: packages/k8s/src/shared/**/*, packages/k8s/src/main.ts, packages/tsconfig.base.json, packages/k8s/*.sh, .gitlab-ci.yml, build-target.sh, manifest.sh, Dockerfile) or (any of: packages/k8s/src/frontend/**/*, packages/frontend/**/*)
  push_bot_manifest: (any of: packages/k8s/src/shared/**/*, packages/k8s/src/main.ts, packages/tsconfig.base.json, packages/k8s/*.sh, .gitlab-ci.yml, build-target.sh, manifest.sh, Dockerfile) or (any of: packages/k8s/src/bot/**/*, packages/bot/**/*)
